out: d_player.css, compress: true

#wp_wrapper{
  background-size: 156% !important;
  background-position-x: 99% !important;
  position: relative;
}

//****** ALBUM SELECTOR STYLES *******//

#album_wrapper{
  display: block;
  height: 60%;
  position: relative;
}
#album-prev,
#album-next{
  display: block;
  position: absolute;
  height: 29%;
  width: 12%;
  top: 44%;
  background-size: 1100% !important;
  cursor: pointer;
}

#album-prev{
  left: 11%;
  background-position: 0% 73% !important;
  &:hover{
    background-position: 19% 73% !important;
  }
}

#album-next{
  left: 80%;
  background-position: 10% 73% !important;
  &:hover{
      background-position: 29% 73% !important;
  }
}

#album-art{
  position: absolute;
  display: block;
  width: 52%;
  height: 69%;
  border: 1px solid grey;
  left: 25%;
  top: 25%;
}
//****** CHANNEL SELECTOR STYLES *******//

#channel-wrapper{
  position: relative;
  display: block;
  height: 24%;
}

#channel-selector,
#channel-prev,
#channel-next,
#channel-info{
  display: block;
  position: absolute;
}

#channel-selector{
  width: 100%;
  height: 73%;
  left: 0%;
  top: 17%;
}

#channel-prev,
#channel-next{
  display:none;
  width: 7%;
  height: 34%;
  top: 11%;
  background-size: 1220% !important;
}

#channel-prev{
 left: 5%;
 background-position: 0% 72% !important;
 &:hover{
   background-position: 17% 72% !important;
 }
}

#channel-next{
  right: 6%;
  background-position: 9% 72% !important;
  &:hover{
      background-position: 27% 72% !important;
  }
}

#channel-selector:hover>#channel-prev,
#channel-selector:hover>#channel-next{
  display: block;
}

#channel-info{
  width: 38%;
  height: 22%;
  bottom: 0%;
  left: 15%;
  top: 57%;
}

//****** CONTROL STYLES *******//

#controls{
  position: relative;
  display: block;
  height: 18%;
}

#play-song,
#pause-song,
#prev-song,
#next-song,
#prev-song,
#volume-song{
  position: absolute;
  display: block;
}

#pause-song{
  width: 17%;
  height: 45%;
  top: 3%;
  left: 9%;
  background-position: 0% -1% !important;
  background-size: 620% !important;
}

#play-song{
  width: 17%;
  height: 45%;
  top: 3%;
  left: 9%;
  background-position: 20% -1% !important;
  background-size: 620% !important;
  display: none;
}

#prev-song,
#next-song{
  bottom: 18%;
  width: 11%;
  height: 31.3%;
  background-size: 1300% !important;
}

#prev-song{
  background-position: 0% 87% !important;
  left: 14%;
  &:hover{
    background-position: 0% 100% !important;
  }
}

#next-song{
  background-position: 9% 87% !important;
  left:  35%;
  &:hover{
    background-position: 9% 100% !important;
  }
}

#volume-song{
  top: 3%;
  right: 7.5%;
  height: 83%;
  width: 32%;
  background-position: 19% 97% !important;
  background-size: 590% !important;
}
